<!DOCTYPE html>
<html>
  <head>
    <title>Music is Fun to Listen to</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="col-sm-6 col-sm-offset-3">

    <div class="page-header text-center"><h1>Band Tracker</h1></div>
      <%= yield %>
      <div class="footer navbar-fixed-bottom"><a class='btn btn-warning btn-block' href='/' role='button'>Back Home</a>
</div>
  </div>
  </body>
</html>
