<h4>Add a Venue</h4>
<br>

<form action='/venues' method='post'>
  <label for='name'>Name:</label>
  <input id='name' name='name' type='text' autofocus>
<br>
<br>

  <label for='city'>City:</label>
  <input id='city' name='city' type='text'>
  <br>
  <br>

  <button class='btn-default'>Submit</button
</form>
